<!doctype html>
<html lang="en" ng-app="earthdawn">
<head>
  <meta charset="utf-8">
  <title>Earthdawn Character Builder</title>
  <link rel="stylesheet" href="css/app.css"/>
</head>
<body>
 <!-- <ul class="menu"> -->
 <!--    <li><a href="#/view1">view1</a></li> -->
 <!--    <li><a href="#/view2">view2</a></li> -->
 <!--  </ul> -->


	<div ng-controller="DisciplinesController">
	 <span  class="nullable">
        <select ng-model="disc" ng-options="disc.name for disc in disciplines">
          <option value="">-- choose discipline --</option>
        </select>
      </span>
      <p>{{disc.desc}}</p>
	</div>
	
	<div ng-controller="RacesController">
	 <span  class="nullable">
        <select ng-model="race" ng-options="race.name for race in races">
          <option value="">-- choose race --</option>
        </select>
      </span>
      <p>{{race.desc}}</p>
	</div>
	
	<div ng-controller="AttributsController">
		<form name="attributs">
			<span> Nombre de points d'attributs restants : {{attPoints.getPoints()}}</span><br />
			<span> Dexterité : <input type="number" name="dex" ng-model="char.dex" min="2" max="18" required ng-change="attPoints.compute(char)"></span><br />
			<span class="error" ng-show="attributs.dex.$error.required">required!</span>
			<span class="error" ng-show="attributs.dex.$error.min">must be between 2 and 18</span>
			<span class="error" ng-show="attributs.dex.$error.max">must be between 2 and 18</span><br />
			<span> Force : <input type="number" name="for" ng-model="char.for"  min="2" max="18" required ng-change="attPoints.compute(char)"></span><br />
			<span class="error" ng-show="attributs.for.$error.required">required!</span>
			<span class="error" ng-show="attributs.for.$error.min">must be between 2 and 18</span>
			<span class="error" ng-show="attributs.for.$error.max">must be between 2 and 18</span><br />
			<span> Constitution : <input type="number" name="con" ng-model="char.con"  min="2" max="18" required ng-change="attPoints.compute(char)"></span><br />
			<span class="error" ng-show="attributs.con.$error.required">required!</span>
			<span class="error" ng-show="attributs.con.$error.min">must be between 2 and 18</span>
			<span class="error" ng-show="attributs.con.$error.max">must be between 2 and 18</span><br />
			<span> Perception : <input type="number" name="per" ng-model="char.per"  min="2" max="18" required ng-change="attPoints.compute(char)"></span><br />
			<span class="error" ng-show="attributs.per.$error.required">required!</span>
			<span class="error" ng-show="attributs.per.$error.min">must be between 2 and 18</span>
			<span class="error" ng-show="attributs.per.$error.max">must be between 2 and 18</span><br />
			<span> Volonté : <input type="number" name="vol" ng-model="char.vol"  min="2" max="18" required ng-change="attPoints.compute(char)"></span><br />
			<span class="error" ng-show="attributs.vol.$error.required">required!</span>
			<span class="error" ng-show="attributs.vol.$error.min">must be between 2 and 18</span>
			<span class="error" ng-show="attributs.vol.$error.max">must be between 2 and 18</span><br />
			<span> Charisme : <input type="number" name="cha" ng-model="char.cha"  min="2" max="18" required ng-change="attPoints.compute(char)"></span><br />
			<span class="error" ng-show="attributs.cha.$error.required">required!</span>
			<span class="error" ng-show="attributs.cha.$error.min">must be between 2 and 18</span>
			<span class="error" ng-show="attributs.cha.$error.max">must be between 2 and 18</span><br />							
		</form>
	</div>

	<div ng-view></div>

	<div>Angular seed app: v<span app-version></span></div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  -->
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular/angular-route.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
</body>
</html>
